<form method="post" action="{{ path('parrainage_delete', {'parrain': parrainage.parrain}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parrainage.parrain) }}">
    <button class="btn">Delete</button>
</form>
