{% extends 'base.html.twig' %}

{% block title %}Parrainage index{% endblock %}

{% block body %}
    <h1>Parrainage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Filleu
                <th>Nom Parrain</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parrainage in parrainages %}
            <tr>
                <td>{{ parrainage.user.nom ~ " " ~ parrainage.user.prenom }}</td>
                <td>{{ parrainage.parrain.nom ~ " " ~ parrainage.parrain.prenom }}</td>
                <td>
                    <a href="{{ path('parrainage_show', {'parrain': parrainage.parrain.id, 'user': parrainage.user.id}) }}">show</a>
                    <a href="{{ path('parrainage_edit', {'parrain': parrainage.parrain}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parrainage_new') }}">Create new</a>
{% endblock %}
