{% extends 'base.html.twig' %}

{% block title %}New Parrainage{% endblock %}

{% block body %}
    <h1>Create new Parrainage</h1>

    {{ include('parrainage/_form.html.twig') }}

    <a href="{{ path('parrainage_index') }}">back to list</a>
{% endblock %}
