{% extends 'base.html.twig' %}

{% block title %}Parrainage{% endblock %}

{% block body %}
    <h1 class="mt-5">Parrainage</h1>

    <div class="row m-5">
        <div class="col-md-6">
            <h2>Filleul Information</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Nom :</th>
                        <td>{{ parrainage.user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom :</th>
                        <td>{{ parrainage.user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Email :</th>
                        <td>{{ parrainage.user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Parrain Inforamation</h2>
            <table>
                <tbody>
                <tr>
                    <th>Nom :</th>
                    <td>{{ parrainage.parrain.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom :</th>
                    <td>{{ parrainage.parrain.prenom }}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>{{ parrainage.parrain.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('parrainage_index') }}">back to list</a>

    <a href="{{ path('parrainage_edit', {'parrain': parrainage.parrain}) }}">edit</a>

    {{ include('parrainage/_delete_form.html.twig') }}
{% endblock %}
